.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d8cfc4; 
}

.board {
  display: flex;
  flex-direction: column;
  border: 4px solid #6b4f3d; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px; 
}

.dark {
  background-color: #8b5e3c; 
}

.light {
  background-color: #e1c6a7; 
}

.white {
  color: #fff; 
}

.black {
  color: #6E260E; 
}
